body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    background-color: rgb(218, 214, 159);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(73, 234, 255);
    display: grid;
    row-gap: 1vw;
    column-gap: 1vw;
}

.field {
    background-color: blue;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.result {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 70%;
    width: 70%;
    border: 1px solid black;
    border-radius: 100px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.result div{
    display: block;
}

.result input {
    margin-top: 50%;
    background-color: rgb(49, 231, 49);
    height: 50px;
    width: 70px;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: 1px solid black
}
